<!-- <link rel="import" href="../polymer/polymer-element.html"> -->

<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-iconset-svg/iron-iconset-svg.html">

<dom-module id="paper-card-sit">
  <template>
    <style>
      .main {
        width: 50%;
      }

      .text {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.473);
      }

      .link {
        margin-left: 15%;
        background-color: rgba(0, 0, 255, 0.274);
      }

      .icon {
        display: inline-block;
        align-self: initial;
        background-color: aqua;
      }

      .blue-text{
        color:rgb(0, 97, 243);
      }
    </style>
    <template is="dom-if" if="[[content]]">
      <div class="main">
        <div class="icon">
          <paper-icon-button icon="[[content.icon]]"></paper-icon-button>
        </div>
        <div class$="text  [[content.class]]">
          <p>[[content.text]]</p>
        </div>
        <div class="link">
          <!-- El guión bajo indica una función que no fue bindeda, es decir que es interna -->
          <span on-click="_clickUrl">[[content.textUrl]]</span>
        </div>
      </div>
    </template>
  </template>

  <script>
    /**
     * `paper-card-sit`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperCardSit extends Polymer.Element {
      static get is() {
        return 'paper-card-sit';
      }
      static get properties() {
        return {
          content: {
            type: Object,
          }
        };
      }
      _clickUrl(){
        this.dispatchEvent(new CustomEvent('click-url', {
          detail: JSON.parse(JSON.stringify(this.content)),
        }))
      }
    }

    window.customElements.define(PaperCardSit.is, PaperCardSit);
  </script>
</dom-module>
